<!DOCTYPE html>
<html
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Categories List</title>
  <th:block th:insert ="layout :: link-css"></th:block>
</head>
<body>
<th:block th:insert="layout :: header"></th:block>
<div class="container">
  <h1 th:text=${title}></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th sec:authorize="hasAnyAuthority('Admin')">Action</th>
    </tr>
    <tr th:each="category : ${categories}">
      <td th:text="${category.id}"></td>
      <td th:text="${category.name}"></td>
      <td sec:authorize="hasAnyAuthority('Admin')">
        <a th:href="@{/categories/edit/{id}(id=${category.id})}">Edit</a>
        <a th:href="@{/categories/delete/{id}(id=${category.id})}"
           onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tr>
  </table>
</div>
<th:block th:insert="layout :: footer"></th:block>
</body>
</html>
